html{
    position: relative;
    min-height: 100%;
}

body{
    color: grey;
    margin: 0;
    margin-bottom: 3em;
    font-family: 'Quicksand', sans-serif;
}

.body-content{
    margin-top: 2em;
    margin-bottom: 2em;
}

header > .navbar{
    height: 53px;
    background-color: orangered;
}

.navbar-menu{
    background-color: #f8f8f8;
    margin-top: -1.3em;
}

.navbar-menu .navbar-collapse{
    padding: 0;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 2.5em;
}

a{
    color: orangered;
}

a:focus,
a:hover {
    text-decoration: underline;
    opacity: .7;
}

a.navbar-brand:focus,
a.navbar-brand:hover{
    opacity: .8;
    color: white;
}

a.link-action:focus,
a.link-action:hover{
    color: orangered;
}

.post-list hr{
    /*border-bottom: 1px solid #ddd;*/
    margin: 2em auto;
}

.post{
    margin: 1em auto 2em;
}

.post .media{
    background: #fafafa;
    /*border: 1px solid #f0f0f0;*/
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgba(228, 228, 228, 0.6);
    -moz-box-shadow: 0px 0px 3px 2px rgba(228, 228, 228, 0.6);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(228, 228, 228, 0.6);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}

.post .media-body{
    padding: 1em;
}

.post .media-left{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}

.post h3{
    margin-top: .5em;
}

.post-footer{
    bottom: 0;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0;
    text-align: right;
}

.about-me h3{
    text-align: center;
    margin: 1em auto;
}

.about-me img{
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 auto;
}

.about-me p{
    text-align: justify;
    margin: 2em auto;
}

footer{
    height: 2em;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(230, 227, 227);
    text-align: center;
}

.list-topics li{
    border: none;
    padding-left: 0;
}

.list-topics li span{
    float: right;
}

.list-topics li span.badge{
    background-color:#f88c63;
    padding-top: .3rem;
    padding-bottom: .5rem;
}

.list-inline > li{
    margin-top: 1rem;
}

@media screen and (max-width: 991px) {
    .post .media{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column
    }

    .post .media-body{
        width: 100%;
    }

    .post .media-left{
        padding: 0;
    }

    .post .media-left img.media-object{
        width: 100%;
        max-height: 300px;
    }

    .post-footer{
        position: relative;
        padding-bottom: 0;
        padding-top: 1rem;
    }
}